.header__background {
  width: 100%;
  background: linear-gradient(to right, #574ae8 0%, #3ea1db 100%);
  min-width: 375px;
}


.container {
  max-width: 700px;
  margin: 0 auto 0 auto;
  width: 100%;
  height: 12.5rem;
  padding: 3rem 1.25rem 3rem 1.25rem;
}


.header__navegation ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 2.562rem;
}
.logo,
.link {
  font-family: "Lexend Deca";
  color: #fff;
}
.header__searche {
  position: relative;
}
.header__searche span {
  background-image: url("../../assests/Vector.png");
  background-size: cover;
  display: inline-block;
  width: 0.9375rem;
  height: 0.9375rem;
  position: absolute;
  left: 0.5625rem;
  top: 50%;
  transform: translateY(-50%);
}
.header__searche input {
  width: 100%;
  max-width: 900px;
  height: 2.5rem;
  padding-left: 1.875rem;
  border-radius: 5px;
  box-sizing: border-box;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
}
.header__searche input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
  font-size: 14px;
}
